.simplePopup {
	display:none;
	position:fixed;
	background:#fff;
	z-index:9999;
/*	width: 710px;
	height: 460px;*/
	border: 5px solid #fff;
}

.simplePopupClose {
	right: 0;
	top: 0;
	float:right;
	cursor:pointer;
	padding: 3px 10px;
	background: #fff;
	position: absolute;
	color: #333;
	font-weight: bold;
}

.simplePopupBackground {
	display:none;
	background:#000;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:9999;
}
