.pinning-nav {
  left: 0;
  right: 0;
  top: 0;
  -moz-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 10;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,.1);
  box-shadow:0 1px 4px rgba(0,0,0,.1);
  -moz-box-shadow:0 1px 4px rgba(0,0,0,.1);
}